.heading
{
    margin: 0;
    font-size: 23px; 
    width: 100%;
}
#start ,#number_of_objects ,#status
{
    font-size: 18px;
}
body
{
  background-size: cover;
}
.copy_right_footer
{
    color: grey;
    background-color: white;
    line-height: 3;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
canvas
{
    border: 2px solid rgb(255, 255, 255);
    margin-top: 130px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
}